<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.player.common.RecipeStorageIngreMapper">

	<resultMap type="user.player.common.dto.RecipeStorageIngreDTO" id="RecipeStorageIngreResultMap" >
		<id property="name" column="FOOD_NAME" />
		<result property="name" column="INGRE_NAME" />
		<result property="img" column="INGRE_IMG" />
	</resultMap>



	<select id="findRecipeStorageIngre" parameterType = "hashmap" resultMap="RecipeStorageIngreResultMap" >

		SELECT
			   C.FOOD_NAME
		     , B.INGRE_NAME
		     , B.INGRE_IMG
		  FROM RECIPE_INGRE A
		  JOIN INGRE B ON (A.INGRE_NO = B.INGRE_NO)
		  JOIN RECIPE C ON (A.RECIPE_NO = C.RECIPE_NO)
		 WHERE C.FOOD_NAME = #{name}

	</select>
	




</mapper>